<md-toolbar class="main-header" color="primary">
  <!-- <button (click)="sidemenu.toggle()" md-icon-button>
      <md-icon>menu</md-icon>
    </button>-->
  FileManager
</md-toolbar>

<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="20" fxFlex.gt-xs="30" fxFlex="30">
    <md-input-container>
      <input mdInput placeholder="Search">
    </md-input-container>
    <tree-root *ngIf="nodes && nodes.length" id="tree" #tree [focused]="true" [nodes]="nodes" [options]="options" (onToggle)="onEvent($event)"
      (onActiveChanged)="onEvent($event)"> </tree-root>
  </div>

  <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70">
    <md-card>

      <md-card-title>Active Directory</md-card-title>
      <md-card-subtitle>{{this.activeDirectory}}</md-card-subtitle>
      <md-card-content>
        <input type="file" ng2FileSelect [uploader]="uploader" />
        <button type="button" class="primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <md-icon>add</md-icon>upload
                </button>
      </md-card-content>
    </md-card>
  </div>
</div>