<md-toolbar class="main-header" color="primary">
  FileManager
</md-toolbar>

<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="20" fxFlex.gt-xs="30" fxFlex="30">
    <md-input-container>
      <input mdInput placeholder="Search">
    </md-input-container>
  </div>

  <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70">
    <md-card>

      <md-card-title>Active Directory</md-card-title>
      <md-card-content>
        <input type="file" ng2FileSelect [uploader]="uploader" />
        <button type="button" md-raised-button class="primary" md-raised (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <md-icon>add</md-icon>
                </button>
      </md-card-content>
    </md-card>
    <md-spinner *ngIf="loading"></md-spinner>
    <div *ngIf="!loading">
      <h3>Files ({{files.length}})</h3>
      <md-list dense>
        <md-list-item *ngFor="let file of files" style="height:30px">
          <md-icon md-list-icon>insert_drive_file</md-icon>
          <h4 md-line>{{file.title}}</h4>
          <p md-line> {{file.updatedAt | date}} </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>